/* * {
  border: red solid 2px;
} */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Red+Hat+Display:ital,wght@0,300;1,300&family=Space+Grotesk:wght@300;400&display=swap');
* {
  font-family: "Quicksand", "Space Grotesk", "Red Hat Display" ;
}
h1 {
  font-family: "Quicksand"
}

.card-title {
  font-family: "Quicksand";
  font-weight: "boldest";
  
}

#root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  background-image: url(/squiggle.svg);
}

/* blur on project links */
.blur:hover .project-image {
  transition: filter 300ms;
  filter: blur(.5rem)
}

.blur {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hide text */
.hide {
  display: none;
}
/* show text on hover */
.show:hover .hide  {
  display: inline-block;
}

.responsive {
  width: 100%;
  height: auto;
}

a {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
a:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.padMe {
  padding: 10px;
}


footer {
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  text-align: center;
  font-size: x-small;
}
